.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
color: rgb(169, 26, 26);
font-weight: 800;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}